.container--deals {
  color: #ffffff;
  text-align: center;
  justify-content: center;
}

.container--shelfTitle {
  color: black;
  background-color: rgb(231, 231, 231);
  justify-content: center;
  text-align: center;
  animation:shadow-drop-center 0.4s linear both
}
@keyframes shadow-drop-center{0%{box-shadow:0 0 0 0 transparent}100%{box-shadow:0 0 20px 0 rgba(255,255,255,.55)}}

.headingLevel2--shelfTitle {
  width: 40vh;
  height: 8vh;
  font-weight: 200;
  border: 3px black solid;
  border-radius: 24px;
  box-shadow: 10px 8px;
  cursor: pointer;
}

.headingLevel2--shelfTitle:hover {
  color:rgb(236, 56, 43);
  background-color: black;
  transition: ease 0.4s;
  transform: scale(0.9);
  box-shadow: 10px 8px rgb(236, 56, 43);
}

.container--deals .paragraph {
  margin: 0;
}

.container--link {
  justify-content: center;
}

.container--question {
  justify-content: center;
  background-image: url(https://1.bp.blogspot.com/-tyIYA8AjoUE/Xc6aSllXs1I/AAAAAAABwqQ/NwkaPpqoSKAV7kpRKr5R8fP_QERYLXfRQCLcBGAsYHQ/s1600/portada%2Barmani%2Bsi.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.container--question .paragraph {
  text-align: center;
  max-width: 540px;
  height: 60vh;
  margin: 0 16px;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #fff;
  opacity: 0;
}

.container--question .strong {
  font-size: 32px;
  line-height: 2rem;
  font-weight: 700;
}

.container--link .paragraph {
  text-align: center;
  max-width: 540px;
  padding-top: 36px;
  padding-bottom: 84px;
  color: #03034E;
}

.container--link .strong {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.container--link .link {
  text-decoration: none;
  font-size: 36px;
  font-weight: 300;
  color: #03034E;
}

.container--title {
  color: #03034E;
  font-size: 28px;
  font-weight: 700;
}

@media only screen and (min-width: 640px) {
  .container--question .strong {
    font-size: 40px;
    line-height: 3rem;
  }

  .container--about {
    max-width: 85%;
  }

  .container--title {
    color: #03034E;
    font-size: 40px;
    font-weight: 700;
    max-width: 60%;
  }

  .container--title .paragraph {
    line-height: 1.3em;
  }
}
