.notificationBarContainer {
  background-color: #e6f1e6;
  font-weight: 700;
  font-size: 12px;
  text-decoration: underline;
}

.infoCardContainer--info-card-home {
  max-width: 1520px;
  margin: 0 auto;
  background-color: #e6f1e6;
  padding: 0px;
}

.newsletter {
  border: 2px solid black;
  background-color: #fff;
  max-width: 1528px;
  margin: 0 auto;
  background-image: url(https://www.armani.com/content/images/cms/ycm/resource/blob/672164/8475600408d29c72e94ff6ad789577fb/ea-data.jpg/w1200.jpg);
  background-size: cover;
}

.newsletter .container {
  padding: 60px 10px;
}

.label {
  color: black;
  font-size: 26px;
  font-family: 'Times New Roman', Times, serif;
}

.inputGroup {
  padding-bottom: 4px;
  display: flex;
  color: black;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators) {
  background-color: transparent;
  color: black;
  border: 2px solid black;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators)::placeholder {
  color: black;
  font-size: 20px;
  font-weight: bolder;
  font-family: 'Times New Roman', Times, serif;
}

.inputGroup :global(.vtex-button) {
  background-color: transparent;
  color:black;
  border: 2px solid black;
  font-size: 18px;
  font-weight: bolder;
  font-family: 'Times New Roman', Times, serif;
}

.inputGroup :global(.vtex-button):hover{
  color: #fff;
  background-color: black;
  transition: ease .3s;
}

.buttonContainer {
  padding-top: 0px;
}

.imageElement--storePrint {
  max-height: 300px;
  margin-bottom: 20px;
}

.skuSelectorContainer {
  margin: 1rem 0;
}

@media only screen and (min-width: 640px) {
  .newsletter .container {
    padding: 140px;
  }

  .label {
    font-size: 40px;
  }

  .infoCardContainer--info-card-home .infoCardTextContainer {
    width: 30%;
  }

  .infoCardContainer--info-card-home .infoCardImageContainer {
    width: 10%;

  }

  .imageElement--storePrint {
    margin-bottom: 0px;
    max-height: 600px;
  }
}

.productImagesContainer--quickview .carouselContainer {
  justify-content: flex-start;
}

.productImagesContainer--quickview .productImageTag {
  object-fit: cover !important;
}

.productImagesContainer--quickview .carouselGaleryThumbs {
  display: none;
}

.productImagesContainer--quickview .carouselGaleryCursor {
  margin: 0;
  padding: 0;
  width: 100%;
}

.productNameContainer {
  color: #3f3f40;
  font-weight: bold;
  font-size: 30px;
}

.image {
  image-rendering: -webkit-optimize-contrast;
}